name: flutter_color_logger
description: Beautiful, colorful & boxed console logger for Flutter apps
version: 1.1.0
homepage: https://github.com/PuzzleTakX/flutter_color_logger
repository: https://github.com/PuzzleTakX/flutter_color_logger

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.24.0
  flutter_lints: ^2.0.1