name: flutter_color_logger
description: A colorful console logging extension for Flutter/Dart with fancy boxed logs.
version: 1.0.0
homepage: https://github.com/PuzzleTakX/flutter_color_logger
repository: https://github.com/PuzzleTakX/flutter_color_logger
environment:
  sdk: '>=2.19.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  uses-material-design: false
